.DS_Store
*.pidb
*.userprefs
tests/bin
tests/test-results
*.user
*.suo
_Resharper*
*.mdf
*.ldf
*.opensdf
*.exe
*.winmd
*.exp
*.ilk
*.lib
*.pdb
*.pri
*.ipch
*.fossil
SQLite.MetroStyle.DemoApp.Xaml/bin/
SQLite.MetroStyle.DemoApp.Xaml/obj/
