<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7e094fbe-a506-425b-ba83-7d16369c7db9" Publisher="CN=Matthew" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SQLite.MetroStyle.ValidationApp</DisplayName>
    <PublisherDisplayName>Matthew</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>SQLite.MetroStyle.ValidationApp</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SQLite.MetroStyle.ValidationApp.App">
      <VisualElements DisplayName="SQLite.MetroStyle.ValidationApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Validation application for confirming store acceptance of sqlite-net and WinRT branch of sqlite3.dll." ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>